.entry-form {
  height: 50vh;
  max-width: 550px;
  margin: 0 auto;
}

.textfield {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 28vw;
}

.button {
  background: linear-gradient(45deg, #fe6b8b, #ff8e53);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 12px;
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
