

.overlay {
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
  }
  

.modal {
    position: relative;
    background-color: #fff;
    width: 30%;
    z-index: 10;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    padding-bottom: 40px;
    font-family:Arial, Helvetica, sans-serif;

  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  #modal-header {
    padding-top: 30px;
  }
  
  #desc {
    font-size: 12px;
    padding-bottom:20px;
  }

  .modal button {
    padding: 10px; 
    width: 60%;
    border: none;
    margin: 5px;
    border-radius: 10px;
  }

  .modal button:hover{
    background-color:#282c34;
    color:#fff;
  }
  
  #nav {
      background: none;
      padding: 0;
      font-size: 12px;
      color: #88aec2;
      font-weight: bold;
  }

  #nav:hover{
      color: #000;
  }

  .modal form{
      margin-top: 20px;
      margin-bottom: 20px;
      align-items: left;
      font-size: 12px;
      padding: 10px;
  }

  .field {
    display: inline;
  }

.field input[type=text], input[type=password]  {
  width: 80%;
  float: left;
  margin-left: 20px;

}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker-wrapper {
  width: 100%;
  float: left;
}



.info {
  position: absolute;
  float: left;
  right: 20px;
}



#user-info:hover #username-reqs {
  display: block;
}

.reqs {
  display: none;
  margin-left: 20px;
  z-index: 15;
  position: fixed;
  width: 60%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
#pw-info:hover #pw-reqs {
  display: block;
}

p {
    color: #c6c6c6;
}

input {
  border: 1px solid black;
  border-radius: 3px;
}



#bday-info:hover #bday-reqs {
  display: block;
}



