.profile-page {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #FAF9F6;
    /* background-image: linear-gradient(to bottom right, #fe6b8b, #ff8e53); */
    flex-direction: column;
    padding: 5px;
    
    color: black;

  

}

.profile-header {
    display: flex;
    flex-direction: row; 
    width: 100vw;
    justify-content: space-between; 
    padding: 10px;
    
}
.profile-info {
    margin-top: 10px;
    text-align: left;
    display:flex;
    flex-direction: column;
    /* background: #FAF9F6; */
    /* filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, .1)); */

}

.profile-info h {
    font-size: 17px;

    color: #fe6b8b;

}
.unchecked {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #bdbcb9;

}

.checked {
    color:  #fe6b8b;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#fe6b8b;

}

#review{
    color: #bdbcb9;
}

#bio {
    color: #bdbcb9;
}

.act p{
    color: black;
    padding: 10px;
    font-size: 12px;
}

.activity {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.page {
    position: fixed;
    display: flex;
    flex-direction: column;
}

.logout {
    margin-top: 1vh;
    background-image: linear-gradient(to bottom right, #fe6b8b, #ff8e53);
    padding: 2px;
    width: 15vw;
    height: 4vh;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    border-radius: 5px;
    position: relative;

}

.loader {
    border: 16px solid #bdbcb9; /* Light grey */
    border-top: 16px solid #ff8e53; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    top: 50%;
    left: 50%;
    position: absolute;
  } 
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .activity-box {
      display: flex;
      padding-left: 10px; 
      position: relative;

      justify-content: flex-start;

      background-color: white;
      margin-left: 1vw;
      margin-right: 1vw;

      border: 1px solid black;
      border-radius: 5px;
  }

  p#status-header {
      color: black;
      margin-right: 1vw;
  }
  p#time{
      display: flex;
      justify-content: flex-end;
      margin-top: 0vh;
      margin-right: 1vw;
      font-style: italic;
  }

.material-icobs {
    transform: scale(2)
  }

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    color: black;
}

#bio {
    color: black;
}